<div class="block background-white background-transparent-image fullwidth">
    <div class="page-header">
        <h1>Nos Prestataires</h1>
        <p>Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience which you never forget.</p>
    </div><!-- /.page-header -->

    <div class="cards-wrapper">
        {% if lastPrests %}
            <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card" data-background-image="{{ asset('bundles/annuaireannuaire/img/tmp/prestataire-1.jpg')}}">
                            <div class="card-label">
                                <a href="{{ path('prestataire_profil', { 'id' : lastPrests[0].id }) }}">{{ lastPrests[0].site }}</a>
                            </div><!-- /.card-label -->

                            <div class="card-content">
                                <h2><a href="{{ path('prestataire_profil', { 'id' : lastPrests[0].id }) }}">{{ lastPrests[0].nomprest }}</a></h2>

                                <div class="card-meta">
                                    <i class="fa fa-map-o"></i> {{ lastPrests[0].getCodepostId.code }}  {{ lastPrests[0].getLocaliteId.localite }}
                                </div><!-- /.card-meta -->

                                <div class="card-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- /.card-rating -->

                                <div class="card-actions">
                                    <a class="fa fa-bookmark-o" href="#"></a>
                                    <a class="fa fa-search" href="listing-detail.html"></a>
                                    <a class="fa fa-heart-o" href="#"></a>
                                </div>

                            </div><!-- /.card-content -->
                        </div><!-- /.card -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" data-background-image="{{ asset('bundles/annuaireannuaire/img/tmp/prestataire-2.jpg')}}">
                            <div class="card-label">
                                <a href="{{ path('prestataire_profil', { 'id' : lastPrests[0].id }) }}">{{ lastPrests[0].site }}</a>
                            </div><!-- /.card-label -->

                            <div class="card-content">
                                <h2><a href="{{ path('prestataire_profil', { 'id' : lastPrests[0].id }) }}">{{ lastPrests[0].nomprest }}</a></h2>

                                <div class="card-meta">
                                    <i class="fa fa-map-o"></i> {{ lastPrests[1].getCodepostId.code }}     {{ lastPrests[1].getLocaliteId.localite }}
                                </div><!-- /.card-meta -->

                                <div class="card-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- /.card-rating -->

                                <div class="card-actions">
                                    <a class="fa fa-bookmark-o" href="#"></a>
                                    <a class="fa fa-search" href="listing-detail.html"></a>
                                    <a class="fa fa-heart-o" href="#"></a>
                                </div>

                            </div><!-- /.card-content -->
                        </div><!-- /.card -->
                    </div>

                    <div class="col-sm-6">
                        <div class="card" data-background-image="{{ asset('bundles/annuaireannuaire/img/tmp/prestataire-3.png')}}">
                            <div class="card-label">
                                <a href="{{ path('prestataire_profil', { 'id' : lastPrests[2].id }) }}">{{ lastPrests[2].site }}</a>
                            </div><!-- /.card-label -->

                            <div class="card-content">
                                <h2><a href="{{ path('prestataire_profil', { 'id' : lastPrests[2].id }) }}">{{ lastPrests[2].nomprest }}</a></h2>

                                <div class="card-meta">
                                    <i class="fa fa-map-o"></i> {{ lastPrests[2].getCodepostId.code }}    {{ lastPrests[2].getLocaliteId.localite }}
                                </div><!-- /.card-meta -->

                                <div class="card-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- /.card-rating -->

                                <div class="card-actions">
                                    <a class="fa fa-bookmark-o" href="#"></a>
                                    <a class="fa fa-search" href="listing-detail.html"></a>
                                    <a class="fa fa-heart-o" href="#"></a>
                                </div>

                            </div><!-- /.card-content -->
                        </div><!-- /.card -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="card card-tall" data-background-image="{{ asset('bundles/annuaireannuaire/img/tmp/prestataire-4.jpg')}}">
                    <div class="card-label">
                        <a href="{{ path('prestataire_profil', { 'id' : lastPrests[3].id }) }}">{{ lastPrests[3].site }}</a>
                    </div><!-- /.card-label -->

                    <div class="card-content">
                        <h2><a href="{{ path('prestataire_profil', { 'id' : lastPrests[3].id }) }}">{{ lastPrests[3].nomprest }}</a></h2>

                        <div class="card-meta">
                            <i class="fa fa-map-o"></i>{{ lastPrests[3].getCodepostId.code }}     {{ lastPrests[3].getLocaliteId.localite }}
                        </div><!-- /.card-meta -->

                        <div class="card-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.card-rating -->

                        <div class="card-actions">
                            <a class="fa fa-bookmark-o" href="#"></a>
                            <a class="fa fa-search" href="listing-detail.html"></a>
                            <a class="fa fa-heart-o" href="#"></a>
                        </div>

                    </div><!-- /.card-content -->
                </div><!-- /.card -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        {% else %}
            pas de Prestataires enregistrés
        {% endif %}
        
    </div><!-- /.cards-wrapper -->

</div>
